*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
   
   
}
body{
    width: 100%;
    height: 100%;   
}

.header{
    padding: 0;
    border: 0;
    margin: 0;
    width: 0;
}
.conteiner-principal{
    width: 90%;
     height: 100%;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;

}
.conteiner-cabecario {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 ;
    border-radius: 10px;
}

.cabecario {
  border-bottom: 15px solid #1BF83C;
  border-radius:5px;
}

.corpo-principal{
      width: 100%;
     height: 100%;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
    background-color: #3F71B3;
    border-radius: 10px;
}
.conteudo{
    justify-content: left;
}

.conteudo > h1 {
     justify-content: left;
}

.container-login{
width: 350px;;
     height: 100%;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
}
.cadastro-form{
    width: 85%;
     height: 100%;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
}

.botao-login{
 background-color:#1BF83C;
width: 90%;
height: 100%;
margin: 0 auto;
padding: 0.5rem;
border-radius: 15px;
justify-content: center;
}

.container-albuns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.album {
  aspect-ratio: 1 / 1;
  background-color: #e0e0e0; 
  border-radius: 8px;
  
}
